---
repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict, -c=.yamllint]

  - repo: local
    hooks:
      - id: biome
        name: biome check
        entry: npx @biomejs/biome check --write .
        language: system
      - id: dprint
        name: dprint fmt
        entry: npx dprint fmt
        args: ["--allow-no-files"]
        language: system
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        files: ^(.*\.(sh|bash))$
